
div {
  display: flex;
  flex-wrap: wrap;
}

p {
  width: 5ch;
  word-break: break-all;
}


.p-4 {
  border-width: 1mm;
}
/* .p-4 {
  border: 1rem solid blue;
}

.p-4:hover {
  border-style: solid
} */